@media (max-width : 576px) {
   .body-all {
    margin-left: 150px;
     max-width: 900px;
     max-height: 1200px;
     border: solid 1px red;
 }

.header-user-name{
    padding: 15px 0 0 68px;
    max-width: 700px;
}

.header-Kirill{
    margin: 20px 50px 0 0;
    height: 80px;
    width: 80px;
}

.header-name{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600 ;
}

.header-speciality{
    font-size: 14px;
    padding-top: 5px;
    margin-right: 10px;
}

.main-experience{
    margin: 0 auto;
    padding-left:  140px;
    font-size: 20px;
}

.main-experience-full{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-height: 600px;
}

.main-op-rabot{
    margin-bottom: 25px;
}

 .main-text-obrazovanie{
    margin: 5px 10px 0 0;
    font-size: 12px;
    letter-spacing: 1px;
}

 .main-rabota{
    padding-top: 10px ;
 }

 .main-experience-zagolovok-obrazovanie{
    font-size: 15px;
    margin-left: 45px; 
 }
 
.main-experience-zagolovok{
    font-size: 15px;
    margin-left: 35px; 
}

.main-text-obrazovanie-rus{
    margin-left: 50px;
    font-size: 12px;
    letter-spacing: 1px;
}

.text-otstyp{
    margin-top: 10px;
}

.main-text-obrazovanie-vash{
    margin-left: 15px;
    font-size: 12px;
    letter-spacing: 1px;
}

.main-text-obrazovanie-skills{
    margin: 0 0 0 40px;
    font-size: 12px;
    letter-spacing: 1px;

}

.main-experience-zagolovok-skills{
    font-size: 15px;
    margin-left: 65px; 
}

.main-text-obrazovanie-skills-java{
    margin: 5px 0 0 25px;
    font-size: 12px;
    letter-spacing: 1px; 
}

.main-text-obrazovanie-skills-verstka{
    margin: 5px 0 0 20px;
    font-size: 12px;
    letter-spacing: 1px; 
}

.main-almaz-cartinka {
    padding-left: 135px;
}

.main-sber-cartinka{
    padding-left: 160px;  
}

.main-nazvanie-compani{
    margin-right: 150px;
    font-size: 13px;
}

.main-nazvanie-compani-sber{
    margin-right: 190px;
    font-size: 14px;
}

.main-obo-mne {
    margin-top: 2px;
    max-width: 1280px;
}

.main-obo-mne-zogolovok{
    margin: 0 20px 0 160px;
    font-size: 18px;
}

.main-opisanie {
    margin: 5px 0 0 52px;
    font-size: 12px;
    letter-spacing: 1px;
}

.main-opisanie-data {
    margin: 5px 0 0 130px;
    font-size: 12px;
    letter-spacing: 1px;
}

.main-text-me{
    font-size: 12px;
    padding: 20px 0 0 10px;
    line-height: 15px;
    text-indent: 40px;
    letter-spacing: 1px;
    height: 600px;
} 
}